{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/movies/movie_index.css' %}" />
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Movie List</h1>
  <img src="{% static 'images/filmstrip1.jpg' %}" alt="Filmstrip One" />
  <img src="{% static 'images/filmstrip2.jpg' %}" alt="Filmstrip Two" />
  <img src="{% static 'images/filmstrip3.jpg' %}" alt="Filmstrip Three" />
  <img src="{% static 'images/filmstrip4.png' %}" alt="Filmstrip Four" />
</section>

<section class="card-container">
  {% for movie in movies %}
  <div class="card">
    <a href="{% url 'movie_detail' movie.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img
            class="usr-img"
            src="{% static 'images/movie-popcorn.jpg' %}"
            alt="Movie Popcorn"
          />
        </div>
        <h2 class="card-title">{{ movie.title }}</h2>
        <p>{{ movie.genre }} released in {{ movie.release_year }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
